.about {
    padding: toRem(100) toRem(0);

    @include desktop {
        padding: toRem(170) toRem(0); 
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: toRem(80);
        @include desktop {
            gap: toRem(120);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(20);

        @include tablet{
            width: 50%;
            gap: toRem(30);


        }
    }
}

.about__container {
    position: relative;
}


.about__list {
    display: flex;
    flex-direction: column;
    gap: toRem(50);
    @include tablet {
        gap: toRem(80);
    }
}
.about__item {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    @include tablet {
        justify-content: space-between;
        align-items: center;
        gap: toRem(80);
        flex-direction: row;

        padding-left: toRem(60);
    }
    @include desktop {
        
    }


}


.about__item.second{
    @include tablet {
        flex-direction: row-reverse;
        padding-right: toRem(60);
    }
}
.about
.about__btn  {
    max-width: toRem(450);
}
.section-title {
}
.about__text-wrap {
}
.about__text {
    text-transform: uppercase;
}
.about__btn {

}
.btn {
}
.btn--primary {
}
.about__img-wrap {
    max-height: toRem(350);
    border-radius: toRem(50);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet{
        width: 50%;
    }

    @include desktop {
        max-height: toRem(550);
        max-width: toRem(650);
    }
}
