.hero {
    position: relative;
    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 100;
        padding: 0;

        background: rgba(255, 255, 255, 0.2);
        border-radius: toRem(50);
        box-shadow: toRem(0) toRem(4) toRem(30) rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(toRem(5));
        -webkit-backdrop-filter: blur(toRem(5));
        border: toRem(1) solid rgba(255, 255, 255, 0.3);

        @include desktop  {
            flex-direction: row;
        }
    }

    &__content-side {
        position: relative;
    
        padding: toRem(25);
        overflow: hidden;
    
        @include desktop  {
            width: 40%;
            padding: toRem(35);
            // padding: toRem(70) toRem(10) toRem(50) toRem(60);
            border-radius: toRem(35) toRem(0) toRem(0) toRem(35);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: toRem(30) ;
        max-width: 450px;
        text-transform: uppercase;
    }

    &__btn {
        // margin-right: auto;
        // padding-right: toRem(60);
        // padding-left: toRem(60);

        padding-top: toRem(20);
        padding-bottom: toRem(20);
    }

    &__video-side {
        width: 100%;
        position: relative;
    
        border-radius: toRem(0) toRem(0) toRem(50) toRem(50);
        overflow: hidden; 
        // border-width: toRem(0) toRem(2) toRem(2) toRem(2);
        // border-style: solid;
        // border-color: rgba(255, 255, 255, 0.3);
    
        @include desktop  {
            width: 60%;
            border-radius: toRem(0) toRem(50) toRem(50) toRem(0);
            border-width: toRem(2) toRem(2) toRem(2) toRem(0);
        }
    }

    &__widget {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(10);
        padding: toRem(10);
        background: rgba(255, 255, 255, 0.2);
        border-radius: toRem(50);
        box-shadow: toRem(0) toRem(4) toRem(30) rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(toRem(5));
        -webkit-backdrop-filter: blur(toRem(5));
        border: toRem(1) solid rgba(255, 255, 255, 0.3);;
        max-width: toRem(452);

        // background: url(../img/glass-widget\ photo.svg);



    }

    &__widget-img-list {
        display: flex;


    }
    &__widget-img-item {
        width: toRem(57);
        height: toRem(57);
        overflow: hidden;
        border-radius: toRem(57);
        border: 2px solid rgba(255, 255, 255, 0.203);

    }
    &__widget-img-item:not(:first-child) {
        margin-left: -20px;
    }

    &__widget-text {
        font-size: toRem(14);
    }
    
}

// .wistia_responsive_wrapper iframe{
//     @media screen and (min-width: 1200px) and (max-width: 1600px) {
//         margin: toRem(100) toRem(0);
//         display: block;
//     }
// }



// .hero__container::after {
//     display: block;
//     position: absolute;
//     left: -40%;
//     top: -15%;
//     z-index: -1;
//     content: " ";
//     width: toRem(712);
//     height: toRem(712);
//     background-image: url(../img/deco-hero1.svg);
// }

// .hero__container::before {
//     display: block;
//     position: absolute;
//     right: -3%;
//     bottom: -7%;
//     z-index: -1;
//     content: " ";
//     width: toRem(142);
//     height: toRem(142);
//     background-image: url(../img/deco-hero2.svg);
// }

