.review-section {

}
.review__container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: toRem(16);
    box-shadow: toRem(0) toRem(4) toRem(30) rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(toRem(5));
    -webkit-backdrop-filter: blur(toRem(5));
    border: toRem(1) solid rgba(255, 255, 255, 0.3);
}
.review__title {
    text-align: center;
    margin-bottom: toRem(40);
}


.swiper {
    padding: toRem(20)!important;
}

.swiper-button-next:after, .swiper-button-prev:after  {
    font-size: toRem(18)!important;
    color: rgba(255, 255, 255, 0.9);
}

.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 0.9)!important;
}

.review__wrapper {
}
.swiper-wrapper {
}
.review__slide {
}
div.swiper-slide.review__slide {
    // width: calc(50% - 100px)!important;
}
.review__slide-video-wrap {
    padding: toRem(20);
    border-radius: toRem(35);
    overflow: hidden;
    
}

.review__slide-video-wrap .wistia_responsive_padding {
    border-radius: toRem(35);
    overflow: hidden;
}
.review__slide-content {
    padding: toRem(20);
    position: relative;
    top: toRem(-40);
    background: rgba(255, 255, 255, 0.2);
    border-radius: toRem(30);
    box-shadow: toRem(0) toRem(4) toRem(30) rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(toRem(5));
    -webkit-backdrop-filter: blur(toRem(5));
}
.review__slide-content-up { 
    display: flex;
    gap: toRem(5);
}
.review__slide-name {
}
.review__slide-sity {
}
.review__slide-content-down {
    display: flex;
    gap: toRem(5);
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}